[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
autopep8 = "*"
protobuf = "*"
dialogflow = "*"
authlib = "*"
djangorestframework = "*"
google = "*"
google-cloud-vision = "*"
google-api-core = "*"
django = "*"
googletrans = "*"
django-rest-framework-mongoengine = "*"
mongoengine = "*"
blinker = "*"
pandas = "*"
owlready2 = "*"

[requires]
python_version = "3.7"