[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
protobuf = "*"
dialogflow = "*"
authlib = "*"
django = {git = "https://github.com/django-nonrel/django",ref = "nonrel-1.5"}
djangotoolbox = {git = "https://github.com/django-nonrel/djangotoolbox"}
mongodb-engine = {git = "https://github.com/django-nonrel/mongodb-engine"}
djangorestframework = "*"

[requires]
python_version = "3.7"
